.idea/.name
.idea/dataSources.ids
.idea/dataSources.xml
.idea/FinishMySideProject2.iml
.idea/FinishMySideProject3.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
log/development.log
tmp/cache/assets/CBB/
tmp/cache/assets/CEB/
tmp/cache/assets/D41/
tmp/cache/assets/D4E/1B0/sprockets%2Ff7cbd26ba1d28d48de824f0e94586655
tmp/cache/assets/DA0/B50/
tmp/cache/assets/E04/890/sprockets%2F2f5173deea6c795b8fdde723bb4b63af
.bundle/
tmp/pids/server.pid
.idea/dictionaries/
tmp/cache/assets/D5A/EA0/sprockets%2Fd771ace226fc8215a3572e0aa35bb0d6
tmp/cache/assets/D32/A10/sprockets%2F13fe41fee1fe35b49d145bcc06610705
tmp/cache/assets/CD8/370/sprockets%2F357970feca3ac29060c1e3861e2c0953
tmp/cache/assets/DDC/400/sprockets%2Fcffd775d018f68ce5dba1ee0d951a994