.idea/.name
.idea/dataSources.ids
.idea/dataSources.xml
.idea/FinishMySideProject2.iml
.idea/FinishMySideProject3.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
log/development.log
tmp/cache/assets/CBB/
tmp/cache/assets/CEB/
tmp/cache/assets/D41/
tmp/cache/assets/D4E/1B0/sprockets%2Ff7cbd26ba1d28d48de824f0e94586655
tmp/cache/assets/DA0/B50/
tmp/cache/assets/E04/890/sprockets%2F2f5173deea6c795b8fdde723bb4b63af
.bundle/
tmp/pids/server.pid