<%= form_for([@side_project, @side_project.comments.build]) do |f| %>

    <div class="field">
      <h2><%= f.label 'Comment here:' %></h2>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>