<%= form_for([@side_project, @side_project.comments.build]) do |f| %>

    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>