<p>
  <%= image_tag(@side_project.image_url, class: 'list_image') %>
</p>

<p>
  <b>Project title:</b>
  <%= @side_project.project_title %>
</p>

<p>
  <b>Description:</b>
  <%= @side_project.description %>
</p>
<p>
  <b>Repo URL:</b>
  <%= @side_project.repo_url %>
</p>
