<div id="homeHero">
  <div id="homeHeroContentContainer">
    <%= image_tag("heroImage.jpg") %>



    <div class="heroRed">STOP</div>
    <div class="heroBlue">letting your</div>
    <div class="heroGreen">PROJECTS die</div>


  </div>
</div>
<div class="contentContainer">
<h1 class="shadow">Welcome!</h1>

<p>
  <span> Lorem ipsum </span> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
  nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
  est laborum.
</p>

<h1 class="shadow">Featured Project:</h1>

<%= render :partial => 'home/featured' %>


<div class="paginate shadow">
  <%= will_paginate @side_projects %>
</div>

<%= render :partial => 'side_projects/list' %>



</div>