/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */


/*font faces  ***            ***             ***   */




@font-face {
  font-family: 'TradeGothicLTStdCnBold';
  src: url("/fonts/tradeGothic/tradegothicltstd-bdcn20-webfont.eot");
  src: url("/fonts/tradeGothic/tradegothicltstd-bdcn20-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/tradeGothic/tradegothicltstd-bdcn20-webfont.woff") format("woff"), url("/fonts/tradeGothic/tradegothicltstd-bdcn20-webfont.ttf") format("truetype"), url("/fonts/tradeGothic/tradegothicltstd-bdcn20-webfont.svg#TradeGothicLTStdCnBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'AmericanTypewriterStdMedRg';
    src: url("/fonts/americanTypewriter/americantypewriterstd-med-webfont.eot");
    src: url("/fonts/americanTypewriter/americantypewriterstd-med-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/americanTypewriter/americantypewriterstd-med-webfont.woff") format("woff"), url("/fonts/americanTypewriter/americantypewriterstd-med-webfont.ttf") format("truetype"), url("/fonts/americanTypewriter/americantypewriterstd-med-webfont.svg#AmericanTypewriterStdMedRg") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*global styles***            ***             ***     */

a {
    text-decoration: none;
    text-transform: uppercase;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-repeat: repeat-x;
    background-image: url('siteBackground.jpg');
    background-color: #d8ebd6;
}
ol {
    margin: 15px;
    padding: 5px;
    background: #d5df63;
}
h1 {
    color: white;
    font-size: 2em;
    font-family: "TradeGothicLTStdCnBold";
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    background:  #65b7bb;
}
h2 {
    font-family: "tradegothicltstdcnbold";
    background-color: #93c44a;
    color: white;
    margin: 0 auto;
    padding: 10px;

}
h3 {
    font-family: "TradeGothicLTStdCnBold";
    margin: 0;
    padding: 3px;
    font-size: 1.75em;
    color: white;
    background: #e9332c;
}

h4 {
    font-family: TradeGothicLTStdCnBold;
    color: #817e6e;
    font-size: 30px;
    margin: 10px;
}
p {
    margin: 15px;
    color: #817e6e;
}



.shadow {
    -moz-box-shadow: 3px 3px 5px 0 #8a8877;
    -webkit-box-shadow: 3px 3px 5px 0 #8a8877;
    box-shadow: 3px 3px 5px 0 #8a8877;
}


.paginate {
    font-family: "TradeGothicLTStdCnBold";
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    height: 47px;
    width: 100%;
    background: #65b7bb url('headingBG2.jpg') no-repeat right;
}
.paginate a, .paginate em, .paginate span {
    position: relative;
    top: 10px;
}

/* site container/background */

.redArrow {
    position: relative;
    top: -163px;
    left: -10px;
    width: 1119px;
    margin: 0 auto;
    z-index: 2;
}
.greenArrow {
    position: absolute;
    right: 50%;
    top: 26px;
    z-index: 7;
}
header {
  margin: 0 0 0 0;
    height: 157px;
}
#topLinks {
    height: 69px;

}
#topLinks {
    color: #65b7bb;
    position: absolute;
    z-index: 10;
    left: 60%;
    top: 45px;
    height: 20px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: .75em;
    color: #65b7bb;
    font-family: "TradeGothicLTStdCnBold";
}
#topLinks a:visited {
    color: #65b7bb;
}
#topLinks>a:first-child {
    margin-left: 0;
}
#topLinks>a:last-child {
    text-transform: none;
}
#headerBackground {
    margin: 75px 0 0 0;
    position: relative;
    z-index: 1;
    background-color: #65b7bb;
    padding: 0;
    height: 88px;
    width: 100%;
}
.siteTitle {
    position: absolute;
    right: 52%;
    top : 90px;
    font-size: 2.75em;
    z-index: 7;
}
.siteTitle a, .siteTitle a:visited {
   text-transform: none;
   color: white;
   font-family: "tradegothicltstdcnbold";
}
.bottomLinks {
    position: absolute;
    top: 100px;
    left: 60%;
    z-index: 6;
    font-size: 2em;
    color: #ffffff;
}
.bottomLinks a {
    color: white;
    margin: 0 auto;
    padding: 0 20px;
    border-right: 2px solid white;

    font-family: TradeGothicLTStdCnBold;
}
.bottomLinks a:last-child{
    border: none;
}
.bottomLinks a:visited {
    color: white;
    font-family: courier;
}



/* Style for the site containers ////////*/

#siteContainer {
    width: 945px;
    background: url('containerBackground.jpg') repeat-x #fefdfd;
    position: relative;
    z-index: 5;
    margin: 0 auto;
    margin-top: -50px;
    padding: 0;
    min-height: 600px;
}

.contentContainer {
    width: 874px;
    margin: 0 auto;
    padding: 0;
}

/* styles for the footers /////////////////*/

footer {
    height: 100px;
    background: #65b7bb;
    width: 100%;

    padding: 0;
    margin: 0 auto;

}
#footerLinks {
    width: 500px;
    margin: 0px auto;

}
#footerLinks a, #footerLinks p {
    display: inline-block;
    text-align: center;
    padding: 1%;
    margin: 0 auto;

    color: white;
    font-family: "TradeGothicLTStdCnBold";
    font-size:  1em;

}
