// Place all the styles related to the SideProjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description {
  background-color: #e0ffff;
  width: 45%;
  margin: 10px auto;
  display: inline-block;
}

.description h3 {
  background-color: #e9332;
  padding: 5px;
}

.description h3 a, .description h3 a:visited {
  color: white;
 text-transform: none;
}

.description p {
  margin: 5px;
  width: 60%;
  float: right;
}
.description img {
  float: left;
  margin: 5px;
}

.descriptionButtons {
  width: 40%;
  padding: 5px auto;
  float: left;
}

.projectDetails {

}

.projectDetails img {
  float: left;
  margin: 10px;
}

/* styles for new side project */

.field {
  padding: 10px;
  margin: 10px;
}

.field + h2 {
  margin: 0 auto;
  padding: 0;
}