// Place all the styles related to the SideProjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projectsContainer {
  background-color: #cdcab6;
  margin: 10px auto;
  width: 875px;
}


.descriptionContainer {
  background-color: white;
  width: 400px;
  height: 300px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
}

.descriptionContainer p {
  margin: 5px;
  width: 60%;
  float: right;
}
.shadow {
  -moz-box-shadow: 3px 3px 5px 0 #8a8877;
  -webkit-box-shadow: 3px 3px 5px 0 #8a8877;
  box-shadow: 3px 3px 5px 0 #8a8877;
}
.descriptionContainer h3 a {
  font-family: "TradeGothicLTStdCnBold";
  color: white;
}

/* can't seem to get the description blocks to center properly */


/*
.description h3 {
  background-color: #e9332;
  padding: 5px;
}

.description h3 a, .description h3 a:visited {
  color: white;
 text-transform: none;
}


.description img {
  float: left;
  margin: 5px;
}

.descriptionButtons {
  width: 40%;
  padding: 5px auto;
  float: left;
}

.projectDetails {

}

.projectDetails img {
  float: left;
  margin: 10px;
}
*/

/* styles for new side project */

.field {
  padding: 10px;
  margin: 10px;
}

.field + h2 {
  margin: 0 auto;
  padding: 0;
}